#mainDiv1{
    background-color: black;
    height:100vh;
    margin-top: 0px;
    
}
.nav1{
    display: flex;
    margin-top: 2px;
    margin-bottom: 0px;
    justify-content:right;
    align-items: flex-start;
    list-style: none;
   background-color: white;
    padding: 2px;
    
    
}




.link1{
    text-decoration:double;
    color:rgb(1, 0, 0);
    border-radius: 20px;
    padding: 15px;
    text-transform: capitalize;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-weight: bold;
}
.link1:hover{
    background-color: cornflowerblue;
    text-decoration: none;
    color: antiquewhite;
    border-radius: 30px;
}

.text1{
    color: beige;
}

