/* Base styling for the slider */
input[type="range"] {
 -webkit-appearance: none;
 width: 100%;
 height: 6px;
 border-radius: 5px;
 outline: none;
 transition: background-color 0.15s ease-in-out;
}
/* Styling for the slider thumb on WebKit browsers */
input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none;
 appearance: none;
 width: 16px;
 height: 16px;
 background-color: #10B981; /* Tailwind green-500 */
 border-radius: 50%;
 cursor: pointer;
}
/* Styling for the slider thumb on Firefox */
input[type="range"]::-moz-range-thumb {
 width: 16px;
 height: 16px;
 background-color: #10B981;
 border-radius: 50%;
 cursor: pointer;
}
/* Styling for the slider thumb on Internet Explorer */
input[type="range"]::-ms-thumb {
 width: 16px;
 height: 16px;
 background-color: #10B981;
 border-radius: 50%;
 cursor: pointer;
}
